<div class="container">
  <h3 style="text-align: center;color: red;font-size: x-large">List of Applied ITR</h3>
  <table class="table table-striped">
    <thead>
      <th>Pan Id</th>
      <th>Name</th>
      <th>Taxable Amount</th>
      <th>Tax to be Paid</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let report of reports">
        <td>{{report.panId}}</td>
        <td>{{report.firstName}}</td>
        <td>{{report.taxableAmount}}</td>
        <td>{{report.taxAmount}}</td>
        <td>{{report.status}}</td>
        <td>
          <button (click)="onApprove(report)" type="submit" class="btn btn-success">Approve</button>
        </td>
        <td>
          <button (click)="onDecline(report)" type="submit" class="btn btn-danger">Decline</button>
        </td>
      </tr>
    </tbody>
</table>
<div>
    <h5><a routerLink="/admin-home">Go TO Home Page</a></h5>
</div>
</div>