<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">First Name</label>
      <input [(ngModel)]="firstName" type="text" required="required" class="form-control">
    </div>
    
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="email" type="email" required="required" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Subject</label>
      <div>
          <select style="height: 25px;width: 80px">
              <option value="general">General</option>
              <option value="downloadspeed">Download Speed</option>
              <option value="navigation">Navigation</option>
              <option value="graphics">Graphics</option>
              <option value="contents">Contents</option>
              <option value="links">Links</option>
              <option value="other">Other</option>
            </select>
      </div>
    
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <textarea [(ngModel)]="description" rows="5" class="form-control" placeholder="(Max 500 Characters)"></textarea>
    </div>
    <div class="form-group">
      <button (click)="onSubmit()" class="btn btn-success">Submit</button>
      <button (click)="onReset()" class="btn btn-danger" style="margin-left: 10px">Reset</button>

    </div>

  </div>
</div>