<div class="container">
     <table class="table table-striped col-md-6">
        <thead>
          <tr>
            <th>Id</th>
            <th>Min Limit</th>
            <th>Max Limit</th>
            <th>Tax Rate(%)</th>    
            <th></th>                    
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let slab of slabs">
            <td>{{slab.id}}</td>
            <td>{{slab.minLimit}}</td>
            <td>{{slab.maxLimit}}</td>
            <td>{{slab.roi}}</td>
            <td> <button (click)="onUpdate(slab)" class="btn btn-success glyphicon glyphicon-pencil"></button>
            </td>
          </tr>
        </tbody>
      </table>   
      <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>
</div>