<div class="container">
  <h4>Select the state to Display Report</h4>
  <select [(ngModel)]="state">
      <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
  </select>
  <button type="submit" (click)="onSearch()" class="btn btn-success  glyphicon glyphicon-search "></button>

  <div *ngIf="isStatus==true">
    <table class="table table-striped">
      <thead>
        <th>Pan Id</th>
        <th>Name</th>
        <th>Taxable Amount</th>
        <th>Tax to be Paid</th>
        <th>State</th>
      </thead>
      <tbody>
        <tr *ngFor="let report of reports">
          <td>{{report.panId}}</td>
          <td>{{report.firstName}}</td>
          <td>{{report.taxableAmount}}</td>
          <td>{{report.taxAmount}}</td>
          <td>{{report.state}}</td>
        </tr>
      </tbody>
  </table>
  </div>
  <div>
      <h5><a routerLink="/admin-home">Go TO Home Page</a></h5>
  </div> 
</div> 
