<div class="container">
  
  <div>
      <h5 style="color: red">{{status}}</h5>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="email" type="email" class="form-control"  required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [(ngModel)]="password" type="password" class="form-control"  required>
  </div>

  <button type="submit" (click)="onLogin()" class="btn btn-success">Login</button>
  <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>

</div>
