<div class="container">

  <div style="height: 30px;background-color: lavender;font-weight: bold;font-size: x-large">
    Questions Related to e-Filing Process
  </div>
  <div class="container" style="font-size: 20px;margin-top: 20px ">
    <article>
      <p><font color="darkblue">
        1. What happens if I don't register?</font></p>
        <p>Answer: Without Registration, the user cannot e-File the Income Tax Return. 
          Also, additional services like Viewing 26AS Statement, status of Income Tax Return, 
          File Rectification, Refund re-issue request, etc cannot be availed. Registration needs to be done only once. </p>
      <p><font color="darkblue">
        2. If I have paid excess tax, how and when will it be refunded to me?</font></p>
          <p>Answer: To claim the excess paid tax, the assessee has to file Income Tax Return, 
            irrespective of the fact whether the income is taxable or not. The amount of refund will be remitted to the
             assessee to the bank account as mentioned in the ITR after the processing of the return. </p>
      <p><font color="darkblue">
        3. I don't have Aadhaar card. Can I still e-file?  </font></p>     
          <p>Answer:No, if you are an Indian resident, you cannot e-file without an Aadhaar card.
            If you don't have an Aadhaar card, please apply for one and quote the Aadhaar enrollment number. </p>
      <p><font color="darkblue">
        4.Adding deduction on education loan under Section 80E? </font></p>     
          <p>AnswerInterest paid on education loan can be claimed as a deduction in your
             income tax return under Section 80E. Learn more about Section 80E. </p>
      <p><font color="darkblue">
        5.Adding LIC premium in your tax return? </font></p>     
          <p>Life insurance premium payments can be claimed as deduction under Section 80C subject to 
            a maximum limit of Rs.1,50,000. The only condition is the premium must be less than 10% of the sum assured.</p>
    </article>
  </div>
</div>
