<div class="container" style="margin-top: 150px">
  <h5><a routerLink="/user-home">Go TO Home Page</a></h5>
  <table class="table table-striped">
      <thead>
        <th>Pan Id</th>
        <th>Name</th>
        <th>Taxable Amount</th>
        <th>Tax to be Paid</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>{{reports.panId}}</td>
          <td>{{reports.firstName}}</td>
          <td>{{reports.taxableAmount}}</td>
          <td>{{reports.taxAmount}}</td>
          <td>{{reports.status}}</td>
          <td>
            <button (click)="onEdit()" type="submit" class="btn btn-warning glyphicon glyphicon-pencil"></button>
          </td>
          <td>
            <button (click)="onDelete()" type="submit" class="btn btn-danger glyphicon glyphicon-trash"></button>
          </td>
        </tr>
      </tbody>
  </table>

</div>