<div class="container">
        <h3>Tax Calculation Summary</h3>
    <div class="form-group">
      <label for="panId">Pan Id</label>
      <input type="text" disabled class="form-control"  value="{{details.panId}}">
    </div>

    <div class="form-group">
      <label for="firstName"> Name</label>
      <input  [(ngModel)]="firstName" type="text" disabled class="form-control"  value="{{details.firstName}}">
    </div>
    <div class="form-group">
      <label for="middleName">Total Taxable Amount</label>
      <input  [(ngModel)]="taxableAmount" type="text" disabled class="form-control"  value="{{details.taxableAmount}}">
    </div>
    <div class="form-group">
      <label for="lastName">Total Tax Amount To be Paid</label>
      <input  [(ngModel)]="taxAmount" type="text" disabled class="form-control"  value="{{details.taxAmount}}">
    </div>
    <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
    <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px">Cancel</button>
