<div class="container">
    <h5 *ngIf="isAdmin==false"><a routerLink="/user-home">Go TO Home Page</a></h5>
    <h5 *ngIf="isAdmin==true"><a routerLink="/admin-home">Go TO Home Page</a></h5>
  <table class="table table-striped col-md-9">
     <thead>
       <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Description</th>
         <th>Category</th>    
         <th></th> 
         <th></th>                    
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let scheme of schemes">
         <td>{{scheme.id}}</td>
         <td style="width: 150px">{{scheme.name}}</td>
         <td>{{scheme.description}}</td>
         <td>{{scheme.category}}</td>
         <td>
          <button (click)="onEdit()" *ngIf="isAdmin==true" type="submit" class="btn btn-warning glyphicon glyphicon-pencil"></button>
        </td>
        <td>
          <button (click)="onDelete()" *ngIf="isAdmin==true" type="submit" class="btn btn-danger glyphicon glyphicon-trash"></button>
        </td>
       </tr>
     </tbody>
   </table>   
</div>