<div class="container">
  <h1>Fill the Additional Income Details</h1>

    <div class="form-group">
      <label for="houseRent">House Rent</label>
      <input [(ngModel)]="houseRent" type="number" class="form-control" id="houseRent" value="{{details.houseRent}}" required>
    </div>
    <div class="form-group">
      <label for="interestLoan">Interest From Loan</label>
      <input [(ngModel)]="interestLoan" type="number" class="form-control" id="interestLoan" value="{{details.interestLoan}}" required>
    </div>
    <div class="form-group">
      <label for="mutualFunds">Mutual Funds</label>
      <input [(ngModel)]="mutualFunds" type="number" class="form-control" id="mutualFunds" value="{{details.mutualFunds}}" required>
    </div>
    <div class="form-group">
      <label for="iSavingAcc">Interest Savings Account</label>
      <input [(ngModel)]="iSavingAcc" type="number" class="form-control" id="iSavingAcc" value="{{details.iSavingAcc}}" required>
    </div>
    <div class="form-group">
      <label for="iBonds">Interest from Bonds</label>
      <input [(ngModel)]="iBonds" type="number" class="form-control" id="iBonds" value="{{details.iBonds}}" required>
    </div>
    <div class="form-group">
      <label for="otherIncome">Any Other Income</label>
      <input [(ngModel)]="otherIncome" type="number" class="form-control" id="otherIncome" value="{{details.otherIncome}}" required>
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
    <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>
  
</div>
