<div class="container-fluid">
  <div class="row content">
      <div class="col-md-3" >
        <table class="table table-striped" style="border: black">
          <th style="font-family: Arial, Helvetica, sans-serif;font-size: x-large;border-bottom: black">Quick Links</th>
          <tr style="font-size: 20px">
              <td class="glyphicon glyphicon-hand-right"><a routerLink="/tax-slab">  Update Tax Slabs</a>
              </td>
          </tr>
          <tr style="font-size: 20px">
            <td class="glyphicon glyphicon-hand-right"><a routerLink="/password">  Change Password</a></td>
        </tr>
        <tr style="font-size: 20px">
          <td class="glyphicon glyphicon-hand-right"><a routerLink="/add-schemes">    Add Tax Saving Schemes</a></td>
      </tr>
      <tr style="font-size: 20px">
        <td class="glyphicon glyphicon-hand-right"><a routerLink="/logout">    Logout</a></td>
    </tr>
        </table>
  
      </div>
      <div class="col-md-9" >
        <table class="table table-striped" style="border: black;font-size: 30px">
            <th style="font-family: Arial, Helvetica, sans-serif;font-size: x-large;border-bottom: black">Select An Option</th>
          <tr style="font-size: 20px">
              <td class="glyphicon glyphicon-hand-right"><a routerLink="/schemes">  Show Tax Saving Scheme</a>
              </td>
          </tr>
        <tr style="font-size: 20px">
          <td class="glyphicon glyphicon-hand-right"><a routerLink="/report">    Generate ITR Reports</a></td>
      </tr>
      <tr style="font-size: 20px">
        <td class="glyphicon glyphicon-hand-right"><a routerLink="/statistic">    Generate Statistical Report</a></td>
    </tr>
        </table>   
      </div>
      
  </div>
  