<div class="container">
  <h1>Deductions under 80C</h1>
    <div class="form-group"> 
      <label for="epf">EPF</label>
      <input [(ngModel)]="epf" type="number" class="form-control" id="epf" value="{{details.epf}}" required>
    </div>
    <div class="form-group">
      <label for="ppf">PPF</label>
      <input [(ngModel)]="ppf" type="number" class="form-control" id="ppf" value="{{details.ppf}}" required>
    </div>
    <div class="form-group">
      <label for="scss">Senior Citizen's Saving Scheme </label>
      <input [(ngModel)]="scss" type="number" class="form-control" id="scss" value="{{details.scss}}" required>
    </div>
    <div class="form-group">
      <label for="nsc">National Saving Certificate</label>
      <input [(ngModel)]="nsc" type="number" class="form-control" id="nsc" value="{{details.nsc}}" required>
    </div>
    <div class="form-group">
      <label for="taxSavingFD">Tax Saving FD</label>
      <input [(ngModel)]="taxSavingFD" type="number" class="form-control" id="taxSavingFD" value="{{details.taxSavingFD}}" required>
    </div>
    <div class="form-group">
      <label for="taxSavingBonds">Tax Saving Bonds</label>
      <input [(ngModel)]="taxSavingBonds" type="number" class="form-control" id="taxSavingBonds"  value="{{details.taxSavingBonds}}" required>
    </div>
    <div class="form-group">
      <label for="taxSavingFunds">Tax Saving Mutual Funds</label>
      <input [(ngModel)]="taxSavingFunds" type="number" class="form-control" id="taxSavingFunds" value="{{details.taxSavingFunds}}" required>
    </div>
    <div class="form-group">
      <label for="nps">National Pension Scheme</label>
      <input [(ngModel)]="nps" type="number" class="form-control" id="nps" value="{{details.nps}}" required>
    </div>
    <div class="form-group">
      <label for="lic">Lic</label>
      <input [(ngModel)]="lic" type="number" class="form-control" id="lic" value="{{details.lic}}" required>
    </div>
    <div class="form-group">
      <label for="pensionPlan">Pension Plans</label>
      <input [(ngModel)]="pensionPlan" type="number" class="form-control" id="pensionPlan" value="{{details.pensionPlan}}" required>
    </div>
    <div class="form-group">
      <label for="housingLoan">Housing Loan</label>
      <input [(ngModel)]="housingLoan" type="number" class="form-control" id="housingLoan" value="{{details.housingLoan}}" required>
    </div>
    <div class="form-group">
      <label for="sunkanyaSamriddhi">Sukanya Samriddhi</label>
      <input [(ngModel)]="sunkanyaSamriddhi" type="number" class="form-control" id="sunkanyaSamriddhi" value="{{details.sukanyaSamriddhi}}" required>
    </div>
    <div class="form-group">
      <label for="tutionFees">Tution Fees</label>
      <input [(ngModel)]="tutionFees" type="number" class="form-control" id="tutionFees" value="{{details.tutionFees}}" required>
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
    <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>
</div>
