 #footer {
    position: fixed;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
    background:#999;
 } 

.big-back{
    background-image: url('../assets/images/income-tax.png');
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: fixed;
    left:0
    
}
