
  <div class="strech" style="border-width: thin; border-style: solid;height: 120px;background-color:black;">
<div class="logo">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img alt="Brand" src="assets/images/symbol.png" >
          </a>
      <a class="navbar-brand" href="#" style="color: white;margin-top: 20px"><strong>An E-Taxation Innitiative By</strong> 
      <div>Government of India</div>
    </a>
    </div>
</div>
  </div>
  <nav class="navbar navbar-default" style="background-color: #0d0d0d">
      <div class="container">   
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/" style="color: white;font-family: Arial, Helvetica, sans-serif;font-size: large">Home</a></li>
              <li><a routerLink="/admin-login" style="color: white;font-family: Arial, Helvetica, sans-serif;font-size: large">Admin Login</a></li>
              <li><a routerLink="/about-us" style="color: white;font-family: Arial, Helvetica, sans-serif;font-size: large">About us</a></li>
              <li><a routerLink="/feedback" style="color: white;font-family: Arial, Helvetica, sans-serif;font-size: large">Feedback</a></li>
              <li><a routerLink="/contact-us" style="color:  white;font-family: Arial, Helvetica, sans-serif;font-size: large">Contact Us</a></li>
              <li><a routerLink="/help" style="color: white;font-family: Arial, Helvetica, sans-serif;font-size: large">Help</a></li>
            </ul>
          
          </div>
      </div>
    </nav>
    <div style="margin-top: -20px;"   >
      <div style="position: relative" class="big-back">
        
      <router-outlet ></router-outlet>
    
    </div>

       <!-- <div id="footer" style="background-color: #0d0d0d;"> 
        <div style="text-align: center; font-family: arial;color: burlywood;">
          <p>Phone: 1.800.123.45678</p>
          <p>Fax: 1.800.123.4566</p>
          <p>San Francisco, CA 94102, US</p>
          <p>1234 Some St</p>
        </div>
       </div>  -->
    
      </div>