<div class="container">
    <div class="form-group">
      <label for="address1">Address Line 1</label>
      <input [(ngModel)]="address1" type="text" class="form-control" id="address1" value="{{details.address1}}" required>
    </div>
    <div class="form-group">
      <label for="address2">Address Line 2</label>
      <input [(ngModel)]="address2" type="text" class="form-control" id="address2" value="{{details.address2}}" required>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input [(ngModel)]="city" type="text" class="form-control" id="city" value="{{details.city}}" required>
    </div>
    <div class="form-group">
      <label for="State">State</label>
      <input [(ngModel)]="state" type="text" class="form-control" id="state" value="{{details.state}}" required>
    </div>
    <div class="form-group">
      <label for="pincode">Pincode</label>
      <input [(ngModel)]="pincode" type="text" class="form-control" id="pincode" value="{{details.pincode}}" required>
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
    <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>
  
</div>
