<div class="container-fluid">
  <div class="row content">
      <div class="col-md-3" >
        <table class="table table-striped" style="border: black">
          <th style="font-family: Arial, Helvetica, sans-serif;font-size: x-large;border-bottom: black">Quick Links</th>
          <tr style="font-size: 20px">
              <td class="glyphicon glyphicon-hand-right"><a routerLink="/address">  Update Address Details</a>
              </td>
          </tr>
          <tr style="font-size: 20px">
            <td class="glyphicon glyphicon-hand-right"><a routerLink="/password">  Change Password</a></td>
        </tr>
        <tr style="font-size: 20px">
          <td class="glyphicon glyphicon-hand-right"><a routerLink="/user-report">    Filled ITR</a></td>
      </tr>
      <tr style="font-size: 20px">
        <td class="glyphicon glyphicon-hand-right"><a routerLink="/logout">    Logout</a></td>
    </tr>
        </table>
  
      </div>
      <div class="col-md-9" >
        <table class="table table-striped" style="border: black;font-size: 30px">
          <th style="font-family: Arial, Helvetica, sans-serif;font-size: x-large;border-bottom: black"> What would you like to do?</th>
          <tr style="font-size: 20px">
              <td class="glyphicon glyphicon-hand-right"><a routerLink="/form1">  Fill Income Tax Form</a>
              </td>
          </tr>
        <tr style="font-size: 20px">
          <td class="glyphicon glyphicon-hand-right"><a routerLink="/schemes">    Tax Saving Schemes</a></td>
      </tr>
      <tr style="font-size: 20px">
        <td class="glyphicon glyphicon-hand-right"><a routerLink="/links">    Download Forms</a></td>
    </tr>
        </table>   
      </div>
      
  </div>
  