<div class="container">
  <h1>Fill the Form to Register</h1>
    <div class="form-group">
      <label for="panId">Pan Id</label>
      <input [(ngModel)]="panId" type="text" class="form-control"  required>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input [(ngModel)]="firstName" type="text" class="form-control"  required>
    </div>
    <div class="form-group">
      <label for="middleName">Middle Name</label>
      <input [(ngModel)]="middleName" type="text" class="form-control"  required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input [(ngModel)]="lastName" type="text" class="form-control"  required>
    </div>
    <div class="form-group">
      <label for="contactNo">Contact No</label>
      <input [(ngModel)]="contactNo" type="text" class="form-control"  required>
    </div>
    <div class="form-group">
      <label for="dob">Dob</label>
      <input [(ngModel)]="dob" type="date" class="form-control"  required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control" id="password" required>
    </div>
    

    <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
    <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>
  
</div>
