 <div class="container">
  <h1>Fill the Salary Details</h1>

    <div class="form-group">
      <label for="Basic">Basic</label>
      <input [(ngModel)]="basic" type="number" class="form-control" id="Basic" value="{{details.basic}}" >
    </div>
    <div class="form-group">
      <label for="hra">HRA</label>
      <input [(ngModel)]="hra" type="number" class="form-control" id="hra" value="{{details.hra}}" >
    </div>
    <div class="form-group">
      <label for="specialAllowance">Special Allowance</label>
      <input [(ngModel)]="specialAllowance" type="number" class="form-control" id="specialAllowance" value="{{details.specialAllowance}}">
    </div>
    <div class="form-group">
      <label for="lta">LTA</label>
      <input [(ngModel)]="lta" type="number" class="form-control" id="lta" value="{{details.lta}}">
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
    <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>
  
</div>
