<div class="container">
  <h1>Add Saving SChemes</h1>
    <div class="form-group">
      <label for="name">Scheme: </label>
      <input [(ngModel)]="name" type="text" class="form-control"  required>
    </div>
    <div class="form-group">
      <label for="description">Description: </label>
      <textarea [(ngModel)]="description" rows="5" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select [(ngModel)]="category">
          <option value="Deduction_80C">Deduction 80C</option>
          <option value="Deduction_80D">Deduction 80D</option>
          <option value="Others">Others</option>
      </select>
    </div>
    

    <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
    <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>
  
</div>
