<div class="container" style="font-size: 25px;"> 
  <article>
    <p>This Portal is intented to provide its a user an platform for filing of income tax online in just few steps.</p>
    <p>There are two ways to file your income tax returns.</p>
    <p>The traditional way is the offline way, where you go the Income Tax Department’s office to physically file your returns.</p>
    <p>The other way is when you e-file through the internet. Over the past few years, e-filing has become popular because it is easier, doesn’t require prints of documents, and can be done for free!</p>
  </article>
</div>


     
