<div class="container">
    <h3>Update Slab</h3>
      <div class="form-group">
        <label for="id">Id</label>
        <input [(ngModel)]="id" disabled type="text" class="form-control" value="{{slab.id}}" >
      </div>
  
      <div class="form-group">
        <label for="minLimit">Min Limit</label>
        <input [(ngModel)]="minLimit" type="number" class="form-control"  value="{{slab.minLimit}}">
      </div>
      <div class="form-group">
        <label for="maxLimit">Max Limit</label>
        <input [(ngModel)]="maxLimit" type="number" class="form-control" value="{{slab.maxLimit}}">
      </div>
      <div class="form-group">
        <label for="roi">Tax Rate</label>
        <input [(ngModel)]="roi" type="number" class="form-control"  value="{{slab.roi}}">
      </div>

      <button type="submit" (click)="onUpdate()" class="btn btn-success">Update</button>
      <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>
    
  </div>
  