<div class="container">


<table class="table table-striped" style="border: black">
  <th style="font-family: Arial, Helvetica, sans-serif;font-size: x-large;border-bottom: black">Quick Links</th>
  <tr style="font-size: 20px">
      <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/acts/income-tax-act.aspx">  Income Tax Acts</a>
      </td>
  </tr>
  <tr style="font-size: 20px">
    <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/rules/income-tax-rules-1962.aspx">  Income Tax Rules</a></td>
</tr>
<tr style="font-size: 20px">
  <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/acts/finance-acts.aspx">    Budget and Bills</a></td>
</tr>
<tr style="font-size: 20px">
<td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/communications/circulars.aspx">  Circulars and Notification</a></td>
</tr>
<tr style="font-size: 20px">
<td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/pan.aspx">    Pan Services </a></td>
</tr>
<tr style="font-size: 20px">
<td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/tan-tds.aspx">    TAN/TDS</a></td>
</tr>
<tr style="font-size: 20px">
<td class="glyphicon glyphicon-hand-right"><a href="https://www.tin-nsdl.com/">   Tax Information Network</a></td>
</tr>
<tr style="font-size: 20px">
<td class="glyphicon glyphicon-hand-right"><a href="https://www.tin-nsdl.com/">   Tax Payment</a></td>
</tr>
<tr style="font-size: 20px">
<td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/Tax-helpline.aspx">   Tax Helpline</a></td>
</tr>
<tr style="font-size: 20px">
<td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/utilities/index.aspx">   Tax Utilities</a></td>
</tr>
</table>
</div>