<div class="container">
  <h1>Deductions under 80D</h1>
    <div class="form-group">
      <label for="medicalIns">MEDICAL INSURANCE</label>
      <input [(ngModel)]="medicalIns" type="number" class="form-control" id="medicalIns" value="{{details.medicalIns}}"  required>
    </div>
    <div class="form-group">
      <label for="iEducationalLoan">Interest Educational Loan</label>
      <input [(ngModel)]="iEducationalLoan" type="number" class="form-control" id="iEducationalLoan" value="{{details.iEducationalLoan}}" required>
    </div>
    <div class="form-group">
      <label for="nHra">No HRA </label>
      <input [(ngModel)]="nHra" type="number" class="form-control" id="nHra" value="{{details.nhra}}" required>
    </div>
    <div class="form-group">
      <label for="physicallyDisable">For Physically Disable Assesse</label>
      <input [(ngModel)]="physicallyDisable" type="number" class="form-control" id="physicallyDisable" value="{{details.physicallyDisable}}" required>
    </div>
    <div class="form-group">
      <label for="seniorCitizen">80TTA for Senior Citizen</label>
      <input [(ngModel)]="seniorCitizen" type="number" class="form-control" id="seniorCitizen" value="{{details.seniorCitizen}}" required>
    </div>

    <button type="submit" (click)="onSubmit()" class="btn btn-success">Submit</button>
    <button type="submit" (click)="onCancel()" class="btn btn-danger" style="margin-left: 20px">Cancel</button>
</div>
