<div class="container">
  <table class="table table-striped" style="border: black">
    <th style="font-family: Arial, Helvetica, sans-serif;font-size: x-large;border-bottom: black">Quick Links</th>
    <tr style="font-size: 20px">
        <td class="glyphicon glyphicon-hand-right"><a routerLink="/total-revenue"> Total Revenue Generated From Tax</a>
        </td>
    </tr>
    <tr style="font-size: 20px">
      <td class="glyphicon glyphicon-hand-right"><a routerLink="/state-report">  State wise Repport</a></td>
  </tr>
  </table>


</div>