<div class="container">
  <h3>Total Revenue Generated</h3>
  <table class="table table-striped">
    <thead>
      <th>Pan Id</th>
      <th>Name</th>
      <th>Taxable Amount</th>
      <th>Tax to be Paid</th>
    </thead>
    <tbody>
      <tr *ngFor="let report of reports">
        <td>{{report.panId}}</td>
        <td>{{report.firstName}}</td>
        <td>{{report.taxableAmount}}</td>
        <td>{{report.taxAmount}}</td>
      </tr>
    </tbody>
</table>
<div>
    <h4>Total Revenue Generated:   {{totalRevenue}}</h4>
</div>
<div>
    <h5><a routerLink="/admin-home">Go TO Home Page</a></h5>
</div> 
</div>