
  <div class="container-fluid">
        <div class="row content">
            <div class="col-md-3" >
              <table class="table table-striped" style="border: black">
                <th style="font-family: Arial, Helvetica, sans-serif;font-size: x-large;border-bottom: black">Quick Links</th>
                <tr style="font-size: 20px">
                    <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/acts/income-tax-act.aspx" >  Income Tax Acts</a>
                    </td>
                </tr>
                <tr style="font-size: 20px">
                  <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/rules/income-tax-rules-1962.aspx">  Income Tax Rules</a></td>
              </tr>
              <tr style="font-size: 20px">
                <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/acts/finance-acts.aspx">    Budget and Bills</a></td>
            </tr>
            <tr style="font-size: 20px">
              <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/communications/circulars.aspx">  Circulars and Notification</a></td>
          </tr>
          <tr style="font-size: 20px">
            <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/pan.aspx">    Pan Services </a></td>
        </tr>
        <tr style="font-size: 20px">
          <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/tan-tds.aspx">    TAN/TDS</a></td>
        </tr>
        <tr style="font-size: 20px">
          <td class="glyphicon glyphicon-hand-right"><a href="https://www.tin-nsdl.com/">   Tax Information Network</a></td>
        </tr>
        <tr style="font-size: 20px">
          <td class="glyphicon glyphicon-hand-right"><a href="https://www.tin-nsdl.com/">   Tax Payment</a></td>
        </tr>
        <tr style="font-size: 20px">
          <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/Tax-helpline.aspx">   Tax Helpline</a></td>
        </tr>
        <tr style="font-size: 20px">
          <td class="glyphicon glyphicon-hand-right"><a href="https://www.incometaxindia.gov.in/Pages/utilities/index.aspx">   Tax Utilities</a></td>
        </tr>
              </table>
        
            </div>
            <div class="col-md-3"  >
                <div id="rcorners2" style="position: relative;top: 20px">
                    <div style="text-align: center;position: relative;margin-top: 10px; font-size: x-large"> <a href="https://www.incometaxindia.gov.in/Pages/tps/default.aspx#slidetarget6" style="color: black;"><u>Return Preparation 'Made Easy'</u> </a></div>
                  </div>
                  <div id="rcorners2" style="position: relative;top: 20px">
                      <div style="text-align: center;position: relative;margin-top: 20px; font-size: x-large"> <a href="https://www.incometaxindia.gov.in/Pages/tps/tax-tools.aspx" style="color: black" ><u>Tax Tools</u> </a></div>
                    </div>
                    <div id="rcorners2" style="position: relative;top: 20px">
                        <div style="text-align: center;position: relative;margin-top: 20px; font-size: x-large"> <a href="https://www.incometaxindia.gov.in/Pages/tps/default.aspx#GotAProblem" style="color: black"><u>  Got a problem</u></a></div>
                      </div>
              
            </div>
            <div class="col-md-3" >
                <div id="rcorners2" style="position: relative;top: 20px">
                  <div style="text-align: center;position: relative;margin-top: 20px; font-size: x-large"> <a href="https://www.incometaxindia.gov.in/Pages/tps/default.aspx#slidetarget2PAN" style="color: black"><u> PAN / TAN</u></a></div>
                </div>
                <div id="rcorners2" style="position: relative;top: 20px">
                    <div style="text-align: center;position: relative;margin-top: 20px; font-size: x-large"> <a href="https://www.incometaxindia.gov.in/Pages/tps/default.aspx#slidetarget14" style="color: black"><u>TDS / TRACES</u> </a></div>
                  </div>
                  <div id="rcorners2" style="position: relative;top: 20px">
                      <div style="text-align: center;position: relative;margin-top: 20px; font-size: x-large"> <a href="https://www.incometaxindia.gov.in/Pages/tps/tax-gyan.aspx" style="color: black"><u> Tax Gyaan 'A Game'</u></a></div>
                    </div>
                
              
            </div>
            <div class="col-md-3"  >
              <table class="table table-striped" style="border: black">
                <tr>
                  <td>
                    <div style="height: 100%;width: 100%;text-align: center;font-size: 25px">
                      New-User
                      <br><button (click)="register()" class="btn btn-success">Register</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="height: 100%;width: 100%;text-align: center;font-size: 25px">
                      Registered-User
                      <br><button (click)="login()" class="btn btn-success">Login</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div style="height: 100%;width: 100%;text-align: center;font-size: 25px" >
                      Forget-Password
                      <br><button  class="btn btn-warning">Reset</button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
        </div>
        </div>  
        