body {
    padding: 1em;
    background: #999
}
.scrollable {
    width: 333px;
    margin: 0 auto;
    padding: 0;
    border:10px solid #fff;
    background: #000;
    position: relative;
    overflow: hidden;
    text-align: center;
}
img {
    max-width: 333px;
    margin: 0;
    float:left;
}

.navbar-default {
 
    background-color:#0d0d0d;
   
    border-color: #425766;
   
  }
  #rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }

  #circle{ background: transparent; width: 128px; height: 128px; border-radius: 64px; border: 2px solid red; }
#circle div { position:relative; left: 19px; top: 19px; width: 90px; height: 90px; color: black; text-align:center; }